body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; 
  /* margin-left: -170px; */
  margin-bottom: 30px;

}

h4{

margin-left: -150px;
}

.link_index{

  color: #00B7FF; 
  margin-bottom: 30px;
}

